
#
#	Test configuration file
#
#	2003 10 23	R. Krten		released for publication
#

device /dev/pcl711-0220
	#	Channels 0 through 7 are always AIN
	#	Channel 8 is always AOUT
	#	Channel 9 is the DIN with 8 bits
	#	Channel 10 is the DOUT with 8 bits
	channel 0 ain tag pc0
	channel 1 ain tag pc1
	channel 2 ain tag pc2
	channel 3 ain tag pc3
	channel 4 ain tag pc4
	channel 5 ain tag pc5
	channel 6 ain tag pc6
	channel 7 ain tag pc7

	channel 8 aout tag pc8

	channel 9
		bit 0 din tag pc9b0
		bit 1 din tag pc9b1
		bit 2 din tag pc9b2
		bit 3 din tag pc9b3
		bit 4 din tag pc9b4
		bit 5 din tag pc9b5
		bit 6 din tag pc9b6
		bit 7 din tag pc9b7
		bit 8 din tag pc9b8
		bit 9 din tag pc9b9
		bit 10 din tag pc9b10
		bit 11 din tag pc9b11
		bit 12 din tag pc9b12
		bit 13 din tag pc9b13
		bit 14 din tag pc9b14
		bit 15 din tag pc9b15
	channel 10
		bit 0 dout tag pc10b0
		bit 1 dout tag pc10b1
		bit 2 dout tag pc10b2
		bit 3 dout tag pc10b3
		bit 4 dout tag pc10b4
		bit 5 dout tag pc10b5
		bit 6 dout tag pc10b6
		bit 7 dout tag pc10b7
		bit 8 dout tag pc10b8
		bit 9 dout tag pc10b9
		bit 10 dout tag pc10b10
		bit 11 dout tag pc10b11
		bit 12 dout tag pc10b12
		bit 13 dout tag pc10b13
		bit 14 dout tag pc10b14
		bit 15 dout tag pc10b15

device /dev/sim000-0220
	#	Channels 0 through 7 are always AIN
	#	Channel 8 is always AOUT
	#	Channel 9 is the DIN with 8 bits
	#	Channel 10 is the DOUT with 8 bits
	channel 0 ain tag s_pc0
	channel 1 ain tag s_pc1
	channel 2 ain tag s_pc2
	channel 3 ain tag s_pc3
	channel 4 ain tag s_pc4
	channel 5 ain tag s_pc5
	channel 6 ain tag s_pc6
	channel 7 ain tag s_pc7

	channel 8 aout tag s_pc8

	channel 9
		bit 0 din tag s_pc9b0
		bit 1 din tag s_pc9b1
		bit 2 din tag s_pc9b2
		bit 3 din tag s_pc9b3
		bit 4 din tag s_pc9b4
		bit 5 din tag s_pc9b5
		bit 6 din tag s_pc9b6
		bit 7 din tag s_pc9b7
		bit 8 din tag s_pc9b8
		bit 9 din tag s_pc9b9
		bit 10 din tag s_pc9b10
		bit 11 din tag s_pc9b11
		bit 12 din tag s_pc9b12
		bit 13 din tag s_pc9b13
		bit 14 din tag s_pc9b14
		bit 15 din tag s_pc9b15
	channel 10
		bit 0 dout tag s_pc10b0
		bit 1 dout tag s_pc10b1
		bit 2 dout tag s_pc10b2
		bit 3 dout tag s_pc10b3
		bit 4 dout tag s_pc10b4
		bit 5 dout tag s_pc10b5
		bit 6 dout tag s_pc10b6
		bit 7 dout tag s_pc10b7
		bit 8 dout tag s_pc10b8
		bit 9 dout tag s_pc10b9
		bit 10 dout tag s_pc10b10
		bit 11 dout tag s_pc10b11
		bit 12 dout tag s_pc10b12
		bit 13 dout tag s_pc10b13
		bit 14 dout tag s_pc10b14
		bit 15 dout tag s_pc10b15

device /dev/iso813-0220
	channel 0 ain span -5,+5 tag ground_1
	channel 1 ain span -5,+5 tag battery_1
	channel 13 ain span -5,+5 tag battery_2
	channel 31 ain tag ground_2
device /dev/pcl911-3333

device /dev/dio144-02c0
	channel 0
		port a
			bit 0 dout tag addr_2c0_d_c0pab0
			bit 1 dout tag addr_2c0_d_c0pab1
			bit 2 dout tag addr_2c0_d_c0pab2
			bit 3 dout tag addr_2c0_d_c0pab3
			bit 4 dout tag addr_2c0_d_c0pab4
			bit 5 dout tag addr_2c0_d_c0pab5
			bit 6 dout tag addr_2c0_d_c0pab6
			bit 7 dout tag addr_2c0_d_c0pab7	
		port b
			bit 0 dout tag addr_2c0_d_c0pbb0
			bit 1 dout tag addr_2c0_d_c0pbb1
			bit 2 dout tag addr_2c0_d_c0pbb2
			bit 3 dout tag addr_2c0_d_c0pbb3
			bit 4 dout tag addr_2c0_d_c0pbb4
			bit 5 dout tag addr_2c0_d_c0pbb5
			bit 6 dout tag addr_2c0_d_c0pbb6
			bit 7 dout tag addr_2c0_d_c0pbb7	
		port c
			bit 0 dout tag addr_2c0_d_c0pcb0
			bit 1 dout tag addr_2c0_d_c0pcb1
			bit 2 dout tag addr_2c0_d_c0pcb2
			bit 3 dout tag addr_2c0_d_c0pcb3
			bit 4 dout tag addr_2c0_d_c0pcb4
			bit 5 dout tag addr_2c0_d_c0pcb5
			bit 6 dout tag addr_2c0_d_c0pcb6
			bit 7 dout tag addr_2c0_d_c0pcb7	
	channel 1
		port a
			bit 0 dout tag addr_2c0_d_c1pab0
			bit 1 dout tag addr_2c0_d_c1pab1
			bit 2 dout tag addr_2c0_d_c1pab2
			bit 3 dout tag addr_2c0_d_c1pab3
			bit 4 dout tag addr_2c0_d_c1pab4
			bit 5 dout tag addr_2c0_d_c1pab5
			bit 6 dout tag addr_2c0_d_c1pab6
			bit 7 dout tag addr_2c0_d_c1pab7	
		port b
			bit 0 dout tag addr_2c0_d_c1pbb0
			bit 1 dout tag addr_2c0_d_c1pbb1
			bit 2 dout tag addr_2c0_d_c1pbb2
			bit 3 dout tag addr_2c0_d_c1pbb3
			bit 4 dout tag addr_2c0_d_c1pbb4
			bit 5 dout tag addr_2c0_d_c1pbb5
			bit 6 dout tag addr_2c0_d_c1pbb6
			bit 7 dout tag addr_2c0_d_c1pbb7	
		port c
			bit 0 dout tag addr_2c0_d_c1pcb0
			bit 1 dout tag addr_2c0_d_c1pcb1
			bit 2 dout tag addr_2c0_d_c1pcb2
			bit 3 dout tag addr_2c0_d_c1pcb3
			bit 4 dout tag addr_2c0_d_c1pcb4
			bit 5 dout tag addr_2c0_d_c1pcb5
			bit 6 dout tag addr_2c0_d_c1pcb6
			bit 7 dout tag addr_2c0_d_c1pcb7	
	channel 2
		port a
			bit 0 dout tag addr_2c0_d_c2pab0
			bit 1 dout tag addr_2c0_d_c2pab1
			bit 2 dout tag addr_2c0_d_c2pab2
			bit 3 dout tag addr_2c0_d_c2pab3
			bit 4 dout tag addr_2c0_d_c2pab4
			bit 5 dout tag addr_2c0_d_c2pab5
			bit 6 dout tag addr_2c0_d_c2pab6
			bit 7 dout tag addr_2c0_d_c2pab7	
		port b
			bit 0 dout tag addr_2c0_d_c2pbb0
			bit 1 dout tag addr_2c0_d_c2pbb1
			bit 2 dout tag addr_2c0_d_c2pbb2
			bit 3 dout tag addr_2c0_d_c2pbb3
			bit 4 dout tag addr_2c0_d_c2pbb4
			bit 5 dout tag addr_2c0_d_c2pbb5
			bit 6 dout tag addr_2c0_d_c2pbb6
			bit 7 dout tag addr_2c0_d_c2pbb7	
		port c 
			bit 0 dout tag addr_2c0_d_c2pcb0
			bit 1 dout tag addr_2c0_d_c2pcb1
			bit 2 dout tag addr_2c0_d_c2pcb2
			bit 3 dout tag addr_2c0_d_c2pcb3
			bit 4 dout tag addr_2c0_d_c2pcb4
			bit 5 dout tag addr_2c0_d_c2pcb5
			bit 6 dout tag addr_2c0_d_c2pcb6
			bit 7 dout tag addr_2c0_d_c2pcb7	
	channel 3
		port a
			bit 0 dout tag addr_2c0_d_c3pab0
			bit 1 dout tag addr_2c0_d_c3pab1
			bit 2 dout tag addr_2c0_d_c3pab2
			bit 3 dout tag addr_2c0_d_c3pab3
			bit 4 dout tag addr_2c0_d_c3pab4
			bit 5 dout tag addr_2c0_d_c3pab5
			bit 6 dout tag addr_2c0_d_c3pab6
			bit 7 dout tag addr_2c0_d_c3pab7	
		port b
			bit 0 dout tag addr_2c0_d_c3pbb0
			bit 1 dout tag addr_2c0_d_c3pbb1
			bit 2 dout tag addr_2c0_d_c3pbb2
			bit 3 dout tag addr_2c0_d_c3pbb3
			bit 4 dout tag addr_2c0_d_c3pbb4
			bit 5 dout tag addr_2c0_d_c3pbb5
			bit 6 dout tag addr_2c0_d_c3pbb6
			bit 7 dout tag addr_2c0_d_c3pbb7	
		port c
			bit 0 dout tag addr_2c0_d_c3pcb0
			bit 1 dout tag addr_2c0_d_c3pcb1
			bit 2 dout tag addr_2c0_d_c3pcb2
			bit 3 dout tag addr_2c0_d_c3pcb3
			bit 4 dout tag addr_2c0_d_c3pcb4
			bit 5 dout tag addr_2c0_d_c3pcb5
			bit 6 dout tag addr_2c0_d_c3pcb6
			bit 7 dout tag addr_2c0_d_c3pcb7	
	channel 4
		port a
			bit 0 dout tag addr_2c0_d_c4pab0
			bit 1 dout tag addr_2c0_d_c4pab1
			bit 2 dout tag addr_2c0_d_c4pab2
			bit 3 dout tag addr_2c0_d_c4pab3
			bit 4 dout tag addr_2c0_d_c4pab4
			bit 5 dout tag addr_2c0_d_c4pab5
			bit 6 dout tag addr_2c0_d_c4pab6
			bit 7 dout tag addr_2c0_d_c4pab7	
		port b
			bit 0 dout tag addr_2c0_d_c4pbb0
			bit 1 dout tag addr_2c0_d_c4pbb1
			bit 2 dout tag addr_2c0_d_c4pbb2
			bit 3 dout tag addr_2c0_d_c4pbb3
			bit 4 dout tag addr_2c0_d_c4pbb4
			bit 5 dout tag addr_2c0_d_c4pbb5
			bit 6 dout tag addr_2c0_d_c4pbb6
			bit 7 dout tag addr_2c0_d_c4pbb7	
		port c
			bit 0 dout tag addr_2c0_d_c4pcb0
			bit 1 dout tag addr_2c0_d_c4pcb1
			bit 2 dout tag addr_2c0_d_c4pcb2
			bit 3 dout tag addr_2c0_d_c4pcb3
			bit 4 dout tag addr_2c0_d_c4pcb4
			bit 5 dout tag addr_2c0_d_c4pcb5
			bit 6 dout tag addr_2c0_d_c4pcb6
			bit 7 dout tag addr_2c0_d_c4pcb7	
	channel 5
		port a
			bit 0 din tag addr_2c0_d_c5pab0
			bit 1 din tag addr_2c0_d_c5pab1
			bit 2 din tag addr_2c0_d_c5pab2
			bit 3 din tag addr_2c0_d_c5pab3
			bit 4 din tag addr_2c0_d_c5pab4
			bit 5 din tag addr_2c0_d_c5pab5
			bit 6 din tag addr_2c0_d_c5pab6
			bit 7 din tag addr_2c0_d_c5pab7	
		port b
			bit 0 din tag addr_2c0_d_c5pbb0
			bit 1 din tag addr_2c0_d_c5pbb1
			bit 2 din tag addr_2c0_d_c5pbb2
			bit 3 din tag addr_2c0_d_c5pbb3
			bit 4 din tag addr_2c0_d_c5pbb4
			bit 5 din tag addr_2c0_d_c5pbb5
			bit 6 din tag addr_2c0_d_c5pbb6
			bit 7 din tag addr_2c0_d_c5pbb7	
		port c
			bit 0 din tag addr_2c0_d_c5pcb0
			bit 1 din tag addr_2c0_d_c5pcb1
			bit 2 din tag addr_2c0_d_c5pcb2
			bit 3 din tag addr_2c0_d_c5pcb3
			bit 4 din tag addr_2c0_d_c5pcb4
			bit 5 din tag addr_2c0_d_c5pcb5			
			bit 6 din tag addr_2c0_d_c5pcb6
			bit 7 din tag addr_2c0_d_c5pcb7

